
#wrapper {
  position: relative;
  background: #1a1c0f;
  width: 35%;
  display: flex;
  height: 1000px;
  margin-bottom: 0%;
}

.box {
  width: 100%;
  margin-left: 0;
  position: absolute;
  height: 180px;
}

.logozeus {
  width: 100%;
  z-index: 2;
}

#imgzeus {
  padding-top: 8%;
    width: 7%; /* 6% chiều rộng của viewport */
  height: auto; /* Chiều cao tự động điều chỉnh để duy trì tỷ lệ khung hình */
  max-width: 100%; /* Hạn chế kích thước tối đa cho hình ảnh không vượt quá kích thước gốc */
  display: flex; /* Đảm bảo hình ảnh được hiển thị là một khối */
  margin: 0 auto; /* Canh giữa hình ảnh */
}

.logoan {
  margin-top: 70%;
    width: 85%;
    z-index: 3;
}
.chaibia {
  margin-left: 62.5%;
    width: 55%;
    margin-top: 57%;
    z-index: 7;
}

.nembia {
  margin-top: 50%;
  width: 100%;
  margin-left: 68%;
}

.uongbia {
  margin-top: 94%;
  z-index: 4;
}

.rotbia {
  margin-top: 139%;
}
