#wrapper {
  position: relative;
  background: #1a1c0f;
  width: 100%;
  display: flex;
  margin-bottom: 0%;
}

.box {
  width: 100%;
  margin-left: 0px;
  position: absolute;
  height: 100%;
}

.cungbia {
  filter: brightness(50%);
  z-index: 2;
}

.logozeus {
  width: 100%;
  z-index: 3;
}

#imgzeus {
  padding-top: 6.5%;
  width: 7%; /* 6% chiều rộng của viewport */
  height: auto; /* Chiều cao tự động điều chỉnh để duy trì tỷ lệ khung hình */
  max-width: 100%; /* Hạn chế kích thước tối đa cho hình ảnh không vượt quá kích thước gốc */
  display: flex; /* Đảm bảo hình ảnh được hiển thị là một khối */
  margin: 0 auto; /* Canh giữa hình ảnh */
}

.logoan {
  margin-top: 70%;
  width: 85%;
  z-index: 3;
}
.chaibia {
  margin-left: 62.5%;
  width: 55%;
  margin-top: 57%;
  z-index: 7;
}

.nembia {
  margin-top: 48%;
  width: 100%;
  margin-left: 68%;
  z-index: 2;
}

.cocbia {
  margin-top: 130%;
  width: 100%;
  margin-left: 50%;
  z-index: 5;
}

.uongbia {
  margin-top: 94%;
  z-index: 4;
}

.rotbia {
  margin-top: 51%;
  z-index: 1;
}

#beer {
  display: flex;
  position: absolute;
  width: 40%;
  margin-top: 7%;
  margin-left: 30%;
  z-index: 3;
}

#thanh1 {
  width: 20%;
  position: absolute;
  margin-top: 8%;
  margin-left: 24%;
  z-index: 3;
}

#thanh2 {
  width: 20%;
  position: absolute;
  margin-top: 8%;
  margin-left: 56%;
  z-index: 3;
}

#dan {
  width: 12%;
  position: absolute;
  margin-top: 15%;
  margin-left: 45.5%;
}

.thejoy {
  margin-top: 58%;
  margin-left: 12%;
  z-index: 2;
}

.wedevelop {
  margin-top: 62%;
  margin-left: 12%;
  z-index: 2;
}

.scroll {
  margin-top: 46%;
  margin-left: 47%;
  z-index: 3;
  animation: animate 1s linear infinite;
}

.muiten {
  margin-top: 48%;
  margin-left: 50%;
  z-index: 3;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-10px);
  }
}

.zeus {
  margin-top: 74%;
  margin-left: 12%;
  z-index: 5;
}

.this {
  margin-top: 80%;
  margin-left: 12%;
  z-index: 5;
}

.check {
  margin-top: 86%;
  margin-left: 12%;
  z-index: 5;
}

#span {
  font: 80% Amiri sans-serif;
  font-family: "Amiri", serif;
  position: relative;
  display: inline-block;
  padding: 2%;
}

#checkmore {
  width: 11%;
  z-index: 5;
  background-color: rgba(39, 42, 25, 255); /* Màu nền mặc định của nút */
  color: white; /* Màu chữ mặc định của nút */
  cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua nút */
  transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển đổi màu nền và màu chữ */
}

#checkmore:hover {
  background-color: #ddeade; /* Màu nền khi di chuột qua */
  color: rgb(163, 57, 57); /* Màu chữ khi di chuột qua */
}

#checkmore:active {
  background-color: rgba(39, 42, 25, 255);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.order {
  display: inline-block;
  margin-top: 200%;
  margin-left: 46%;
  z-index: 5;
}

#orderbutton {
  margin-left: -2%;
  z-index: 5;
  width: 12%;
  background-color: rgba(25, 25, 13, 255); /* Màu nền mặc định của nút */
  color: white; /* Màu chữ mặc định của nút */
  cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua nút */
  transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển đổi màu nền và màu chữ */
}

#orderbutton:hover {
  background-color: #ddeade; /* Màu nền khi di chuột qua */
  color: rgb(163, 57, 57); /* Màu chữ khi di chuột qua */
}

#orderbutton:active {
  background-color: rgba(39, 42, 25, 255);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.lorembig {
  margin-top: 109%;
  margin-left: 57%;
  z-index: 5;
}

.hand {
  margin-top: 147%;
  margin-left: 9%;
  z-index: 5;
}

.lorem {
  margin-top: 158%;
  margin-left: 9%;
  z-index: 5;
}

.start {
  margin-top: 190%;
  margin-left: 26%;
  z-index: 5;
}

.beersmall {
  margin-top: 195%;
  margin-left: 40%;
  z-index: 5;
}

@media only screen and (min-width: 500px) and (max-width: 740px) {
  .check {
    padding: 8px 16px;
    
  }
  .order {
    padding: 8px 16px;
  }

  #span {
    font: 0.4em Amiri sans-serif;
  }

  #checkmore {
    margin-left: -3%;
    width: 14%;
    z-index: 5;
    background-color: rgba(39, 42, 25, 255); /* Màu nền mặc định của nút */
    color: white; /* Màu chữ mặc định của nút */
    cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua nút */
    transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển đổi màu nền và màu chữ */
  }

  #orderbutton {
    margin-left: -5%;
    z-index: 5;
    width: 16%;
    background-color: rgba(25, 25, 13, 255); /* Màu nền mặc định của nút */
    color: white; /* Màu chữ mặc định của nút */
    cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua nút */
    transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển đổi màu nền và màu chữ */
  }

}

@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .check {
    padding: 8px 16px;
  }

  .order {
    padding: 8px 16px;
  }

  #span {
    font: 0.6em Amiri sans-serif;
  }

  #checkmore {
    margin-left: -2%;
    width: 12%;
    z-index: 5;
    background-color: rgba(39, 42, 25, 255); /* Màu nền mặc định của nút */
    color: white; /* Màu chữ mặc định của nút */
    cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua nút */
    transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển đổi màu nền và màu chữ */
  }

  #orderbutton {
    margin-left: -5%;
    z-index: 5;
    width: 12%;
    background-color: rgba(25, 25, 13, 255); /* Màu nền mặc định của nút */
    color: white; /* Màu chữ mặc định của nút */
    cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua nút */
    transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển đổi màu nền và màu chữ */
  }
  
}

@media only screen and (max-width: 440px) {
  .check {
    padding: 3px 16px;
  }

  .order {
    padding: 10px 16px;
  }

  #span {
    font: 0.2em Amiri sans-serif;
  }

  #checkmore {
    margin-left: -4%;
    width: 10%;
    z-index: 5;
    background-color: rgba(39, 42, 25, 255); /* Màu nền mặc định của nút */
    color: white; /* Màu chữ mặc định của nút */
    cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua nút */
    transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển đổi màu nền và màu chữ */
  }

  #orderbutton {
    margin-left: -5%;
    z-index: 5;
    width: 10%;
    background-color: rgba(25, 25, 13, 255); /* Màu nền mặc định của nút */
    color: white; /* Màu chữ mặc định của nút */
    cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua nút */
    transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển đổi màu nền và màu chữ */
  }
  
}
